*{
    margin: 0px;
}
#main{
    text-align: center;
}
#post-form{
    margin: 45px;
}

#link{
    border-radius: 15px;
    font-size: 27px;
    padding: 12px;
}

#heading{
    color: rgb(147, 0, 220);
    background-color: bisque;
    text-align: center;
    padding: 15px;
}
#cute-button{
    color :white;
    background-color: rgb(147, 0, 220);
    border-radius: 12px;
    width:99px;
    height:45px;
    font-size: large;
    border:none;
    box-shadow: rgba(144, 0, 255, 0.341) 0px 4px 12px; 
}
#cute-button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(147, 0, 220);
    font: bolder;
    scale: 105%;   
}
#copiedlink{
    color: rgb(147, 0, 220);
    font-size: 32px ;
    padding: 15px;
}
#head{
    border: 3px solid rgb(147, 0, 220);
    border-radius: 6px;
    margin-right: 200px;
    margin-left: 200px;    
}